name: "Build and Release"

on:
  workflow_dispatch:

jobs:
  create-prerelease:
    name: Create Prerelease
    if: github.event_name == 'push' || github.event_name == 'schedule'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set current date as env variable
        run: echo "NOW=$(date --utc)" >> $GITHUB_ENV
      - name: Delete Continuous Release
        run: gh release delete continuous --cleanup-tag || true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Create Prerelease Tag
        id: create_prerelease_tag
        run: |
          gh release create continuous -p -t 'Continuous build' --notes "Building time: ${NOW}
          - - -
          "
          # Make sure draft is false
          gh release edit continuous --draft=false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  static-build-linux:
    runs-on: ubuntu-latest
    container: "ghcr.io/abcfy2/musl-cross-toolchain-ubuntu:${{ matrix.cross_host }}"
    strategy:
      fail-fast: false
      matrix:
        cross_host:
          - arm-unknown-linux-musleabi
          - aarch64-unknown-linux-musl
        # use_libressl: [0, 1]
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - uses: actions/cache@v4
        id: cache
        with:
          path: downloads/
          key: build-cache-${{ matrix.cross_host }}-${{ github.sha }}
          restore-keys: |
            build-cache-${{ matrix.cross_host }}-
      - name: compile
        env:
          CROSS_HOST: "${{ matrix.cross_host }}"
          USE_LIBRESSL: "${{ matrix.use_libressl }}"
        run: |
          if [ "${GITHUB_EVENT_NAME}" = release ]; then
            export ARIA2_VER="${GITHUB_REF#refs/*/}"
            echo "ARIA2_VER=${ARIA2_VER}" >> $GITHUB_ENV
          fi
          "${GITHUB_WORKSPACE}/build.sh"
      - name: zip archiving
        env:
          CROSS_HOST: "${{ matrix.cross_host }}"
          # USE_LIBRESSL: "${{ matrix.use_libressl }}"
        run: |
          apt install -y zip
          if [ x"${USE_LIBRESSL}" = x"1" ]; then
            ARCHIVE_NAME="aria2-${CROSS_HOST//-unknown/}_libressl_static.zip"
          else
            ARCHIVE_NAME="aria2-${CROSS_HOST//-unknown/}_static.zip"
          fi
          echo "ARCHIVE_NAME=${ARCHIVE_NAME}" >> $GITHUB_ENV
          zip -j9v "/tmp/${ARCHIVE_NAME}" "${GITHUB_WORKSPACE}"/aria2c*
          ls -lh "/tmp/${ARCHIVE_NAME}"
        shell: bash

      - name: Upload compiled data
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ARCHIVE_NAME }}
          path: |
            /tmp/${{ env.ARCHIVE_NAME }}
